$sociat-icon-main: #afb1b8;
$sociat-icon-hover: #ffffff;
$social-icon-light: #ffffff;
$social-background-footer: rgba(255, 255, 255, 0.1);

.social-list {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    padding: 0;

    border: none;
    border-radius: 50%;

    fill: $sociat-icon-main;

    @include transition-for-2(background-color, fill);
  }

  &__link:hover,
  &__link:focus {
    fill: $sociat-icon-hover;
    background-color: $accent-color;
    outline: none;
  }

  &--footer > &__item {
    border-radius: 50%;

    background-color: $social-background-footer;
  }
  &--footer &__link {
    fill: $social-icon-light;
  }
}
