$primary-text-color: #757575;
$accent-color: #2196f3;

$title-text-color: #212121;

$main-background-color: #ffffff;

$main-font: 'Roboto', sans-serif;

$logo-color: #000000;
$navigation-color: #212121;
$footer-color: #ffffff;

$border-input-color: rgba(33, 33, 33, 0.2);
