$placeholder-text-color: rgba(117, 117, 117, 0.5);

.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  &__input {
    min-height: 50px;

    padding: 11px 12px 11px 42px;
  }

  &__label {
    display: block;

    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__inner {
    position: relative;
  }

  .form__icon {
    position: absolute;
    left: 12px;
    top: 50%;

    transform: translateY(-50%);

    @include transition-for-1(fill);
  }

  &__input:focus + .form__icon {
    fill: $accent-color;
  }

  &__textarea {
    min-height: 120px;

    padding: 12px 16px;
  }

  &__textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    color: $placeholder-text-color;
  }
}
